<div class="sec_banner_top text-center" style="background-image: url('../../../../assets//img//plan-banner.png')">
  <div style="max-width: 540px;" class="mx-auto z-2">
    <h6 class="fs-6 mb-0 text-primary z-1" style="letter-spacing: 1px">
      Pricing
    </h6>
    <h3 class="title mb-0 text-white">
      Approximate budgets for different roles we offer
    </h3>
    <hr class="border-white mx-auto opacity-100 border-2 z-1" style="width: 200px" />
  </div>
</div>

<!-- search bar  -->

<div class="container pt-5">
  <div class="row">
    <div class="col-12 offset-md-2 offset-xxl-3 col-md-8 col-xxl-6">
      <div class="row g-3">
        <div class="col-12 col-sm-7 col-lg-8">
          <div class="form-group mb-0">
            <input type="search" class="form-control" placeholder="Search by role" [formControl]="searchBarControl" />
          </div>
        </div>
        <div class="col-12 col-sm-5 col-lg-4">
          <div class="form-group mb-0">
            <select name="" id="" class="form-select">
              <option value="">Select range</option>
              <option value="">Select range 1</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- list pricing cards  -->

<app-list-pricing-cards [budgetList]="filteredList$ | async"> </app-list-pricing-cards>

<!-- contact card  -->

<app-contact-card> </app-contact-card>