<div class="container-md">
    <div class="text-center mb-5 pb-2 pb-lg-0 mx-auto" style="max-width: 540px;">
        <h6 class="fs-6 fw-bold mb-1 text-uppercase text-primary">{{stepsDetail?.smallHeading}}</h6>
        <h3 class="section_heading mb-0">{{stepsDetail?.mainHeading}}</h3>
    </div>
    <div class="steper">
        <div class="row gy-4 gy-lg-0">
            <div class="col-12 col-lg-4 mt-1 mt-lg-0">
                <div class="card px-3 py-lg-3 h-100 border-0 shadow-none steper_card_1">
                    <h6 class="mb-2 fs-6 fw-bold">
                        {{stepsDetail?.step1.heading}}
                    </h6>
                    <p class="mb-0 text-muted">{{stepsDetail?.step1.description}}</p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card px-3 py-lg-3 h-100 border-0 shadow-none steper_card_2">
                    <h6 class="mb-2 fs-6 fw-bold">
                        {{stepsDetail?.step2.heading}}
                    </h6>
                    <p class="mb-0 text-muted">{{stepsDetail?.step2.description}}</p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card px-3 py-lg-3 h-100 border-0 shadow-none steper_card_3">
                    <h6 class="mb-2 fs-6 fw-bold">
                        {{stepsDetail?.step3.heading}}
                    </h6>
                    <p class="mb-0 text-muted">{{stepsDetail?.step3.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>