    <div class="container-md">
        <div class="text-center mb-4 mx-auto" style="max-width: 540px;">
            <h6 class="fs-6 fw-bold mb-2 text-uppercase text-primary">{{jobCategoryDetail?.smallHeading}}</h6>
            <h3 class="section_heading mb-2">{{jobCategoryDetail?.mainHeading}}</h3>
        </div>
        <div  class="d-flex flex-wrap gap-2 fs-15 justify-content-center">
            <span *ngFor="let job of jobCategoryDetail?.roles" class="py-1 px-3 rounded-pill bg-dark text-white shadow">{{job?.role}}</span>
        </div>
    </div>