<section class="landing_banner mb-5">
    <app-landing-page-banner [bannerDetail]="bannerSectionData" ></app-landing-page-banner>
</section>

<section class="mb-5">
    <app-landing-page-sliding-logos [slidingLogos]="slidingLogoSectionData"> </app-landing-page-sliding-logos>
</section>


<section class="bg-light py-5 feature_section">
    <app-landing-page-features [featureDetail]="featureSectionData" ></app-landing-page-features>
</section>

<section class="py-5">
    <app-landing-page-steps [stepsDetail]="stepSectionData" ></app-landing-page-steps>
</section>

<section class="py-5 bg-light">
    <app-landing-page-categories [jobCategoryDetail]="jobCategorySectionData" ></app-landing-page-categories>
</section>

<section class="pt-5 pb-5">
    <app-landing-page-pricing [pricingDetail]="pricingSectionData"></app-landing-page-pricing>
</section>

<section class="our_client py-5 bg-light">
    <app-landing-page-testimonials [testimonialDetail]="testimonialSectionData" ></app-landing-page-testimonials>
</section>

