<img src="../../../assets/img/bg-placeholder.png" class="bg-placehoder position-absolute w-100 h-100 top-0 object-fit-cover pointer-events-none"
alt="">
<img src="../../../assets/img/landing-page-cutout.png" class="curve_shape position-absolute img-fluid z-1 pointer-events-none" alt="" style="bottom: -8px;">

<div class="container-md-xxl position-relative" style="height: var(--banner-height);">
<img src="../../../assets/img/banner-img.png"
    class="img-fluid banner_img position-absolute start-50 bottom-0 translate-middle-x object-fit-cover pointer-events-none"
    alt="">

<div class="container-md text-white content text-center position-absolute start-50 translate-middle-x"
    style="top: 40px;">
    <h2 class="banner_heading fw-bold mb-2">{{bannerDetail?.heading}}</h2>
    <h6 class="banner_sub_heading fw-semibold mb-3">{{bannerDetail?.tagline}}</h6>
    <button class="btn bg-white link-primary shadow text-uppercase fw-semibold px-4">{{bannerDetail?.buttonName}}</button>
</div>
<div class="card p-3 shadow card_left rounded-5 text-center d-none d-md-block">
    <img src="../../../assets/img/comment-arrow-sign.png" class="img-fluid comment_arrow_sign pointer-events-none" alt="">
    <h2 class="mb-2 fs-3 text-danger" style="font-weight: 900;">{{bannerDetail?.leftBoxData?.numbers}}+</h2>
    <hr class="mb-3 mt-0 mx-auto border-danger opacity-100" style="width: 100px;">
    <p class="mb-0 small">{{bannerDetail?.leftBoxData?.description}}</p>
</div>
<div class="card p-3 shadow card_right rounded-5 text-center d-none d-md-block">
    <img src="../../../assets/img/comment-arrow-sign-2.png" class="img-fluid comment_arrow_sign pointer-events-none" alt="">
    <h2 class="mb-2 fs-3" style="color: #D35DF1;font-weight: 900;">{{bannerDetail?.rightBoxData?.numbers}}+</h2>
    <hr class="mb-3 mt-0 mx-auto opacity-100" style="width: 100px;border-color: #D35DF1;">
    <p class="mb-0 small">{{bannerDetail?.rightBoxData?.description}}</p>
</div>


<!-- arrow button -->
<button class="btn btn-sm btn-prev" type="button">
    <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.292892 8.70711C-0.0976315 8.31658 -0.0976315 7.68342 0.292892 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292892 8.70711ZM24 9H1V7H24V9Z" fill="white"/>
        </svg>                    
</button>

<button class="btn btn-sm btn-next" type="button">
    <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M23.7071 8.70711C24.0976 8.31658 24.0976 7.68342 23.7071 7.29289L17.3431 0.928932C16.9526 0.538408 16.3195 0.538408 15.9289 0.928932C15.5384 1.31946 15.5384 1.95262 15.9289 2.34315L21.5858 8L15.9289 13.6569C15.5384 14.0474 15.5384 14.6805 15.9289 15.0711C16.3195 15.4616 16.9526 15.4616 17.3431 15.0711L23.7071 8.70711ZM0 9H23V7H0V9Z" fill="white"/>
        </svg>                                        
</button>
</div>