<div class="overflow-x-scroll logo_showcase d-flex align-items-center justify-content-center gap-5">
    <!-- <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>  -->
            
            <img *ngFor="let img of slidingLogos" [src]="img.logo" class="img-fluid object-fit-contain" style="height: 50px;"  alt="">
        <!-- </ng-template>
    </owl-carousel-o> -->
</div>