<div class="modal-header pb-2">
    <h5 class="modal-title fs-6 fw-semibold" id="testimonialLabel">
        {{ testimonial?.posted_by }} | {{testimonial?.designation}}
    </h5>
    <button
        type="button"
        class="close btn btn-sm p-1 fs-4"
        data-bs-dismiss="modal"
        aria-label="Close"
    >
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body pt-3">
    <p class="mb-0">{{ testimonial?.feedback }}</p>
</div>