<div class="container-md">
    <div class="row gy-4 gy-md-0 align-items-md-center">
        <div class="col-md-7 col-lg-8 pe-lg-5">
            <h6 class="fs-6 fw-bold mb-1 text-uppercase text-primary">{{featureDetail?.smallHeading}}</h6>
            <h3 class="section_heading mb-2">{{featureDetail?.mainHeading}}</h3>
            <p class="mb-3 text-muted">{{featureDetail?.description}}</p>
            <button class="btn btn-primary fw-semibold px-4">{{featureDetail?.buttonName}}</button>
            <hr class="my-3 ">
            <div  class="row g-3">
                <div  class="col-12 col-lg-6">
                    <div class="d-flex gap-2 align-items-center">
                        <img src="../../../assets/img/icon.png" class="img-fluid" alt="">
                        <h6 class="fs-6 fw-semibold mb-0">{{featureDetail?.feature1}}</h6>
                    </div>
                </div>
                <div  class="col-12 col-lg-6">
                    <div class="d-flex gap-2 align-items-center">
                        <img src="../../../assets/img/icon.png" class="img-fluid" alt="">
                        <h6 class="fs-6 fw-semibold mb-0">{{featureDetail?.feature2}}</h6>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="d-flex gap-2 align-items-center">
                        <img src="../../../assets/img/icon.png" class="img-fluid" alt="">
                        <h6 class="fs-6 fw-semibold mb-0">{{featureDetail?.feature3}}</h6>
                    </div>
                </div>
                <div  class="col-12 col-lg-6">
                    <div class="d-flex gap-2 align-items-center">
                        <img src="../../../assets/img/icon.png" class="img-fluid" alt="">
                        <h6 class="fs-6 fw-semibold mb-0">{{featureDetail?.feature4}}</h6>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-5 col-lg-4 order-first order-md-0 text-md-end ">
            <img [src]="featureDetail?.featureImage" class="img-fluid " alt="">
        </div>
    </div>
</div>