<div class="container-md">
    <div class="text-center mb-4 pb-2 mx-auto" style="max-width: 540px;">
        <h6 class="fs-6 fw-bold mb-1 text-uppercase text-primary">{{pricingDetail?.smallHeading}}</h6>
        <h3 class="section_heading mb-0">{{pricingDetail?.mainHeading}} </h3>
    </div>

    <div class="text-end ">
        <button routerLink="/pricing-page" class="btn link-primary fst-italic p-0">
            view more
        </button>
    </div>

    <div class="row g-3">
    <owl-carousel-o [options]="customOptions"> 
        <ng-template *ngFor="let budget of pricingDetail?.budgets" carouselSlide> 
        <div class="col-12">
            <div class="card border p-3 text-center rounded-4 shadow-sm mx-1">
                <h6 class="fs-6 mb-1 fw-bold">{{budget?.role}}</h6>
                <p class="mb-0 text-primary">{{budget?.budget}} / resource</p>
            </div>
        </div>
    </ng-template>
</owl-carousel-o>
</div>
</div>