<section class="pt-5">
  <div class="container">
    <div class="row g-3">

      <!-- multi card design -->


      <div *ngFor="let budget of budgetList" class="col-12 col-sm-6"
        [ngClass]="{'col-12 col-sm-6': budgetList.length===1, 'col-12 col-sm-6 col-lg-4': budgetList.length > 1}">
        <div class="card border p-3 text-center rounded-4 shadow-sm">
          <h6 class="fs-6 mb-1 fw-bold">{{budget.role}}</h6>
          <p class="mb-0 text-primary">{{budget.budget}} / resource</p>
        </div>
      </div>

    </div>
  </div>
</section>