<div class="list__testimonials">
  <div class="sec_banner_top text-center" style="
  background-image: url('https://images.unsplash.com/photo-1501504905252-473c47e087f8?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
">
  <div style="max-width: 540px;" class="mx-auto z-2">
    <h6 class="fs-6 mb-0 text-primary z-1" style="letter-spacing: 1px">
      Testimonials
    </h6>
    <h3 class="title mb-0 text-white">Our Clients says about us</h3>
    <hr class="border-white mx-auto opacity-100 border-2 z-1" style="width: 200px" />
  </div>
</div>
<!-- logo showcase -->
<!-- <section
class="py-5 overflow-x-scroll logo_showcase d-flex align-items-center justify-content-center gap-5"
>
<img src="../../../../../assets/img/Github.png" class="img-fluid logo" alt="" />
<img src="../../../../../assets/img/Github.png" class="img-fluid logo" alt="" />
<img src="../../../../../assets/img/Github.png" class="img-fluid logo" alt="" />
<img src="../../../../../assets/img/Github.png" class="img-fluid logo" alt="" />
<img src="../../../../../assets/img/Github.png" class="img-fluid logo" alt="" />
<img src="../../../../../assets/img/Github.png" class="img-fluid logo" alt="" />
<img src="../../../../../assets/img/Github.png" class="img-fluid logo" alt="" />
<img src="../../../../../assets/img/Github.png" class="img-fluid logo" alt="" />
<img src="../../../../../assets/img/Github.png" class="img-fluid logo" alt="" />
</section> -->

<!-- Testimonials -->
<section class="our_client py-5 mt-5">
  <div class="container-md">
    <div class="row our_client_card_wrapper gy-5 pe-sm-2 pe-md-0">
      <div *ngFor="let testimonial of testimonialList" class="col-12 col-md-6 col-lg-4 custom_col">
        <!-- testimonials card -->
        <div class="card flex-row border-0 gap-2">
          <div class="rectangle">
            <svg width="82" height="82" viewBox="0 0 82 82" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1.17021 5.12965C-0.73116 3.2432 0.604745 0 3.28316 0H79C80.6569 0 82 1.34315 82 3V78.7168C82 81.3952 78.7568 82.7312 76.8703 80.8298L39.1693 42.8307L1.17021 5.12965Z"
                fill="#0D75D5" />
            </svg>
          </div>
          <div class="card-img">
            <img src="../../../../../assets/img/Rectangle 2239.png" alt="" class="img-fluid client_img shadow-sm" />
            <svg class="quote" width="76" height="54" viewBox="0 0 76 54" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.1"
                d="M24.376 53.4229H0.595429L22.9771 0.499425H38.1314L24.376 53.4229ZM62.1451 53.4229H38.3646L60.7463 0.499425H75.9006L62.1451 53.4229Z"
                fill="black" />
            </svg>
          </div>
          <div class="card-body bg-white z-3 ps-0">
            <h6 class="card-title mb-1 fw-bold">{{testimonial.posted_by}}</h6>
            <p class="mb-2 mb-lg-2 fw-semibold small">
              {{testimonial.designation}}
            </p>
            <p class="mb-0 desc">
              {{(isReadMore) ? testimonial?.feedback : testimonial.feedback?.slice(0, 50) }}
              <button (click)="openModal(testimonial)" class="btn btn-sm link-primary fst-italic p-0">{{isReadMore ?
                "read less" : "read more"}}
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>