@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap");
:root {
  --body-font-family: "Open Sans", sans-serif;
  --body-color: rgb(34, 34, 34);
  --body-font-size: 16px;
  --bs-link-color-rgb: 40, 177, 230;
  --bs-success-rgb: 47, 148, 12;
  --bs-primary-rgb: 40, 177, 230;
  --bs-danger-rgb: 195, 12, 12;
  --custom-purple-rgb: 158, 41, 230;
  --custom-dark-blue-rgb: 31, 2, 209;
  --custom-green-rgb: 51, 143, 8;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

body {
  font-family: var(--body-font-family);
  color: var(--body-color);
  font-size: var(--body-font-size);
  line-height: 1.6;
}

::-moz-placeholder {
  font-size: 13.5px;
}

::placeholder {
  font-size: 13.5px;
}

:focus {
  box-shadow: none !important;
}

.btn {
  font-size: var(--body-font-size);
}

.btn-primary {
  --bs-btn-bg: rgba(var(--bs-primary-rgb), 1);
  --bs-btn-border-color: rgba(var(--bs-primary-rgb), 1);
}

.btn-outline-primary {
  --bs-btn-color: rgba(var(--bs-primary-rgb), 1);
  --bs-btn-border-color: rgba(var(--bs-primary-rgb), 1);
  --bs-btn-hover-bg: rgba(var(--bs-primary-rgb), 1);
  --bs-btn-hover-border-color: rgba(var(--bs-primary-rgb), 1);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-bg: rgba(var(--bs-primary-rgb), 1);
  --bs-btn-active-border-color: rgba(var(--bs-primary-rgb), 1);
}

.form-control:focus,
.btn:focus,
select:focus {
  box-shadow: none !important;
}

.form-control,
.form-select {
  font-size: calc(var(--body-font-size) - 0.5px);
  min-height: 42px;
}

.btn:not(.btn-sm) {
  min-height: 42px;
}

small,
.small {
  font-size: 13.5px;
}

a {
  text-decoration: none;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}
.line-clamp-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
}
.line-clamp-5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 5;
}
.line-clamp-6 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 6;
}

table {
  --bs-table-hover-bg: #f8f9fa !important;
}
table thead th {
  font-weight: 600;
}
table td,
table th {
  vertical-align: middle;
}
table .dropdown-toggle::after {
  display: none;
}
table .dropdown-item {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}
table .dropdown-menu {
  --bs-dropdown-min-width: 7rem;
}

.modal-dialog.modal-md {
  --bs-modal-width: 720px;
}
.modal-dialog.modal-lg {
  --bs-modal-width: 920px;
}

label {
  margin-bottom: 2px;
  font-weight: 500;
}

.squre-md {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.squre-lg {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opacity_btn_delete {
  background-color: rgba(var(--bs-danger-rgb), 0.15);
  min-height: auto;
}
.opacity_btn_delete:hover {
  background-color: rgba(var(--bs-danger-rgb), 0.35);
}

.opacity_btn_add {
  background-color: rgba(var(--bs-link-color-rgb), 0.15);
  min-height: auto;
}
.opacity_btn_add:hover {
  background-color: rgba(var(--bs-link-color-rgb), 0.35);
}

.btn-check:checked + .btn,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-color: transparent !important;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: rgba(40, 177, 230, 1);
  --bs-nav-link-color: rgba(40, 177, 230, 1);
  --bs-nav-link-hover-color: var(--bs-nav-link-color);
}
.nav-pills .nav-link {
  padding-block: 4px;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  color: inherit;
}
.nav-pills .nav-link.active {
  background-color: transparent;
  color: rgb(40, 177, 230);
  border-bottom-color: rgb(40, 177, 230);
}
.nav-pills .nav-link:hover {
  color: var(--bs-nav-link-hover-color);
}

.timeline_wrapper {
  position: relative;
  border-inline-start: 3px solid var(--bs-border-color);
  padding-left: 1.75rem;
}
.timeline_wrapper .timeline_item {
  position: relative;
}
.timeline_wrapper .timeline_item::before {
  content: "";
  position: absolute;
  top: 17px;
  left: -39px;
  width: 16px;
  height: 16px;
  background-color: rgba(var(--bs-link-color-rgb), 1);
  border-radius: 50%;
  border: 3px solid #fff;
}

.bg-opacity-badge-danger {
  color: rgba(var(--bs-danger-rgb), 1);
  background-color: rgba(var(--bs-danger-rgb), 0.15);
  padding: 4px 12px;
  border-radius: 30px;
  font-weight: 500;
}

.bg-opacity-badge-success {
  color: rgba(var(--bs-success-rgb), 1);
  background-color: rgba(var(--bs-success-rgb), 0.15);
  padding: 4px 12px;
  border-radius: 30px;
  font-weight: 500;
}

label > input[type=checkbox]:checked + img {
  border-color: #29ade6 !important;
  transition: all 0.15s linear;
}

.department .timeline_item::before {
  top: 0;
  left: -38px;
  background-color: rgba(var(--bs-dark-rgb), 0.9);
}

.banner_top {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-block: 50px;
  position: relative;
}
.banner_top_heading {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
}
@media (min-width: 992px) {
  .banner_top_heading {
    font-size: 42px;
  }
}

.card {
  border-color: var(--bs-border-color);
}
.card-header {
  border-color: var(--bs-border-color);
}

.play-success:hover {
  background-color: var(--bs-btn-hover-border-color) !important;
}

.course_play_card {
  min-height: 170px;
  height: 100%;
  z-index: 1;
  position: relative;
}
.course_play_card .course_thumb img {
  filter: brightness(0.5);
}

.forward_arrow {
  display: none;
}
@media (min-width: 992px) {
  .forward_arrow {
    display: block;
    position: absolute;
    top: 50%;
    right: -20px;
  }
}
.forward_arrow-1 {
  display: none;
}
@media (min-width: 1200px) {
  .forward_arrow-1 {
    display: block;
    position: absolute;
    top: 31%;
    left: -6px;
  }
  .forward_arrow-1 svg {
    width: 975px;
  }
}
@media (min-width: 1400px) {
  .forward_arrow-1 {
    top: 22%;
    left: -6px;
  }
  .forward_arrow-1 svg {
    width: 1120px;
  }
}

.accordion-button:not(.collapsed) {
  background: none;
  box-shadow: none;
}

.btn-outline-primary:hover svg path {
  stroke: #fff;
}

.dropdown-menu {
  --bs-dropdown-font-size: var(--body-font-size);
}

.cursor-pointer {
  cursor: pointer;
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-toggle-split {
  background-color: #54b9e4;
}

.accordion-flush {
  --bs-accordion-btn-icon: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9Ikdyb3VwIDU3NyI+CjxjaXJjbGUgaWQ9IkVsbGlwc2UgMTE1IiBjeD0iMTIiIGN5PSIxMiIgcj0iMTIiIGZpbGw9IiM1MTRFRUUiLz4KPHBhdGggaWQ9IlZlY3RvciIgZD0iTTggMTFMMTIgMTVMMTYgMTEiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjwvZz4KPC9zdmc+Cg==);
  --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);
  border: 1px solid var(--bs-border-color);
  overflow: hidden;
}
.accordion-flush .accordion-button {
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  padding: 12px 0;
}

.marker-primary li::marker {
  color: rgba(var(--bs-primary-rgb), 1);
}

.correctBg {
  background-color: #ecffe3;
}

.wrongBg {
  background-color: #feffcc;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.table-transparent td,
.table-transparent th {
  background-color: transparent !important;
}

.learner_dashbord .ondimand {
  color: rgba(var(--bs-danger-rgb), 1);
  background-color: rgba(var(--bs-danger-rgb), 0.1);
}
.learner_dashbord .live {
  color: rgba(var(--bs-primary-rgb), 1);
  background-color: rgba(var(--bs-primary-rgb), 0.1);
}
.learner_dashbord .top_card .card {
  min-height: 120px;
}
.learner_dashbord .ongoing_course .card-img {
  max-width: 100px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
}

.department_img_box {
  position: relative;
  width: 75px;
  height: 40px;
}
.department_img_box img {
  width: 36px;
  height: 36px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #fff;
  transition: all 0.15s linear;
}
.department_img_box img:nth-child(2) {
  left: 15px;
}
.department_img_box img:nth-child(3) {
  left: 30px;
}
.department_img_box img:hover {
  z-index: 99;
}

@media (width >= 992px) {
  .position-md-absolute {
    position: absolute;
  }
}
@media (width >= 576px) {
  .mt-sm-n5 {
    margin-top: -70px;
  }
}
.pointer-events-none {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.landing_banner {
  --banner-height: 550px;
  position: relative;
  background-color: #5a69f4;
  height: var(--banner-height);
}
@media (width >= 1400px) {
  .landing_banner {
    --banner-height: 600px;
  }
}
.landing_banner .banner_heading {
  font-size: clamp(2rem, 0.9821rem + 2.8571vw, 3rem);
}
.landing_banner .banner_sub_heading {
  font-size: clamp(1.125rem, 0.9464rem + 0.5714vw, 1.375rem);
}
.landing_banner .banner_img {
  height: 550px;
}
.landing_banner .card_left,
.landing_banner .card_right {
  max-width: 220px;
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
}
.landing_banner .card_left {
  left: 30px;
}
.landing_banner .card_left .comment_arrow_sign {
  position: absolute;
  bottom: -90%;
  left: 50%;
}
.landing_banner .card_right {
  right: 30px;
}
.landing_banner .card_right .comment_arrow_sign {
  position: absolute;
  top: -36%;
  left: -60%;
}
.landing_banner .btn-next, .landing_banner .btn-prev {
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.25s linear;
}
.landing_banner .btn-next:hover, .landing_banner .btn-prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
@media (width >= 768px) {
  .landing_banner .btn-next, .landing_banner .btn-prev {
    top: 32%;
  }
}
.landing_banner .btn-prev {
  left: 30px;
}
.landing_banner .btn-next {
  right: 30px;
}

.logo_showcase::-webkit-scrollbar {
  display: none;
}

.section_heading {
  font-size: clamp(1.5rem, 0.9821rem + 2.8571vw, 2rem);
  font-weight: 700;
}

.feature_section .service_img {
  aspect-ratio: 2/3;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (width >= 992px) {
  .feature_section .service_img {
    aspect-ratio: 2/2.6;
  }
}
@media (width >= 1300px) {
  .feature_section .service_img {
    aspect-ratio: 2/2.25;
  }
}

.steper {
  position: relative;
}
.steper::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 4px;
  border-left: 2px dashed var(--bs-border-color);
}
.steper .card {
  position: relative;
  margin-left: 8px;
}
.steper .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -11px;
  width: 16px;
  height: 16px;
  background-color: #e01b1b;
  border-radius: 50%;
  border: 2px solid white;
}
.steper .card.steper_card_2::before {
  background-color: #1b23e0;
}
.steper .card.steper_card_3::before {
  background-color: #dc1be0;
}
@media (width >= 992px) {
  .steper::before {
    height: auto;
    width: 69%;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    border-top: 2px dashed var(--bs-border-color);
  }
  .steper .card {
    margin-left: 0;
    text-align: center;
  }
  .steper .card::before {
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.our_client {
  position: relative;
}
.our_client .our_client_card_wrapper.row.gy-5 {
  --bs-gutter-y: 5rem;
}
@media (max-width: 575px) {
  .our_client .our_client_card_wrapper .custom_col {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.our_client .our_client_card_wrapper .custom_col .card:not(:last-child) {
  margin-bottom: 3rem;
}
.our_client .our_client_card_wrapper .card {
  position: relative;
  border-radius: 3px;
  height: 100%;
}
@media (min-width: 576px) {
  .our_client .our_client_card_wrapper .card {
    margin-left: 16px;
  }
}
.our_client .our_client_card_wrapper .card .rectangle {
  position: absolute;
  top: -10px;
  right: -10px;
}
.our_client .our_client_card_wrapper .card .card-img {
  max-width: 78px;
  position: relative;
  flex-shrink: 0;
}
.our_client .our_client_card_wrapper .card .card-img .client_img {
  width: 100%;
  height: 78px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: -12px;
  top: -32px;
  border-radius: 4px;
}
.our_client .our_client_card_wrapper .card .card-img .quote {
  position: absolute;
  right: 16px;
  bottom: -16px;
  max-width: 100%;
  height: auto;
}
.our_client .our_client_card_wrapper .card .card-body {
  border-radius: 3px;
}
@media (max-width: 575px) {
  .our_client .our_client_card_wrapper .card .card-body .desc {
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}/*# sourceMappingURL=styles.css.map */