@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap");

:root {
  --body-font-family: "Open Sans", sans-serif;
  --body-color: rgb(34, 34, 34);
  --body-font-size: 16px;
  --bs-body-font-size: 16px;
  --bs-link-color-rgb: 40, 177, 230;
  --bs-success-rgb: 47, 148, 12;

  --primary: rgb(40, 177, 230);
  --bs-primary-rgb: 40, 177, 230;

  --bs-danger-rgb: 195, 12, 12;
  --custom-purple-rgb: 158, 41, 230;
  --custom-dark-blue-rgb: 31, 2, 209;
  --custom-green-rgb: 51, 143, 8;

  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}


*,::after,::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font-family) !important;
  color: var(--body-color);
  font-size: var(--body-font-size);
  line-height: 1.6;
}

::placeholder {
  font-size: 13.5px;
}

:focus {
  box-shadow: none !important;
}

.btn {
  font-size: var(--body-font-size);
}

.btn-primary {
  --bs-btn-bg: rgba(var(--bs-primary-rgb), 1);
  --bs-btn-border-color: rgba(var(--bs-primary-rgb), 1);
}

.btn-outline-primary {
  --bs-btn-color: rgba(var(--bs-primary-rgb), 1);
  --bs-btn-border-color: rgba(var(--bs-primary-rgb), 1);
  --bs-btn-hover-bg: rgba(var(--bs-primary-rgb), 1);
  --bs-btn-hover-border-color: rgba(var(--bs-primary-rgb), 1);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-bg: rgba(var(--bs-primary-rgb), 1);
  --bs-btn-active-border-color: rgba(var(--bs-primary-rgb), 1);
}

.form-control:focus,
.btn:focus,
select:focus {
  box-shadow: none !important;
}

.form-control,
.form-select {
  font-size: calc(var(--body-font-size) - 0.5px);
  min-height: 42px;
}

.btn:not(.btn-sm) {
  min-height: 42px;
}

small,
.small {
  font-size: 13.5px;
}

a {
  text-decoration: none;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fw-500 {
  font-weight: 500 !important;
}

// line clamp
.line-clamp {
  @mixin clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &-1 {
    @include clamp;
    -webkit-line-clamp: 1;
  }

  &-2 {
    @include clamp;
    -webkit-line-clamp: 2;
  }

  &-3 {
    @include clamp;
    -webkit-line-clamp: 3;
  }

  &-4 {
    @include clamp;
    -webkit-line-clamp: 4;
  }

  &-5 {
    @include clamp;
    -webkit-line-clamp: 5;
  }

  &-6 {
    @include clamp;
    -webkit-line-clamp: 6;
  }
}

// .breadcrumb {
//     .breadcrumb-item {
//         a {
//             color: inherit;

//             &:hover {
//                 color: var(--theme-blue);
//             }
//         }

//         &.active {
//             color: var(--theme-blue);

//         }

//         &::before {
//             color: var(--body-color);
//         }
//     }
// }

table {
  --bs-table-hover-bg: #f8f9fa !important;

  thead {
    th {
      font-weight: 600;
    }
  }

  td,
  th {
    vertical-align: middle;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-item {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .dropdown-menu {
    --bs-dropdown-min-width: 7rem;
  }
}

.modal-dialog {
  &.modal-md {
    --bs-modal-width: 720px;
  }

  &.modal-lg {
    --bs-modal-width: 920px;
  }
}

label {
  margin-bottom: 2px;
  font-weight: 500;
}

.squre {
  &-md {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-lg {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.opacity_btn_delete {
  background-color: rgba(var(--bs-danger-rgb), 0.15);
  min-height: auto;

  &:hover {
    background-color: rgba(var(--bs-danger-rgb), 0.35);
  }
}

.opacity_btn_add {
  background-color: rgba(var(--bs-link-color-rgb), 0.15);
  min-height: auto;

  &:hover {
    background-color: rgba(var(--bs-link-color-rgb), 0.35);
  }
}

.btn-check:checked+.btn,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  border-color: transparent !important;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: rgba(40, 177, 230, 1);
  --bs-nav-link-color: rgba(40, 177, 230, 1);
  --bs-nav-link-hover-color: var(--bs-nav-link-color);

  .nav-link {
    padding-block: 4px;
    border-radius: 0;
    border-bottom: 2px solid transparent;
    color: inherit;

    &.active {
      background-color: transparent;
      color: rgba(40, 177, 230, 1);
      border-bottom-color: rgba(40, 177, 230, 1);
    }

    &:hover {
      color: var(--bs-nav-link-hover-color);
    }
  }
}

.timeline_wrapper {
  position: relative;
  border-inline-start: 3px solid var(--bs-border-color);
  padding-left: 1.75rem;

  .timeline_item {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 17px;
      left: -39px;
      width: 16px;
      height: 16px;
      background-color: rgba(var(--bs-link-color-rgb), 1);
      border-radius: 50%;
      border: 3px solid #fff;
    }
  }
}

.bg-opacity-badge-danger {
  color: rgba(var(--bs-danger-rgb), 1);
  background-color: rgba(var(--bs-danger-rgb), 0.15);
  padding: 4px 12px;
  border-radius: 30px;
  font-weight: 500;
}

.bg-opacity-badge-success {
  color: rgba(var(--bs-success-rgb), 1);
  background-color: rgba(var(--bs-success-rgb), 0.15);
  padding: 4px 12px;
  border-radius: 30px;
  font-weight: 500;
}

label>input[type="checkbox"]:checked+img {
  border-color: #29ade6 !important;
  transition: all 0.15s linear;
}

.department {
  .timeline_item {
    &::before {
      top: 0;
      left: -38px;
      background-color: rgba(var(--bs-dark-rgb), 0.9);
    }
  }
}

.banner_top {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-block: 50px;
  position: relative;

  &_heading {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.1;

    @media (min-width: 992px) {
      font-size: 42px;
    }
  }
}

.card {
  &-header {
    border-color: var(--bs-border-color);
  }

  border-color: var(--bs-border-color);
}

.play-success:hover {
  background-color: var(--bs-btn-hover-border-color) !important;
}

.course_play_card {
  min-height: 170px;
  height: 100%;
  z-index: 1;
  position: relative;

  .course_thumb {
    img {
      filter: brightness(0.5);
    }
  }
}

.forward_arrow {
  display: none;

  @media (min-width: 992px) {
    display: block;
    position: absolute;
    top: 50%;
    right: -20px;
  }

  &-1 {
    display: none;

    @media (min-width: 1200px) {
      display: block;
      position: absolute;
      top: 31%;
      left: -6px;

      svg {
        width: 975px;
      }
    }

    @media (min-width: 1400px) {
      top: 22%;
      left: -6px;

      svg {
        width: 1120px;
      }
    }
  }
}

.accordion-button:not(.collapsed) {
  background: none;
  box-shadow: none;
}

.btn-outline-primary {
  &:hover {
    svg {
      path {
        stroke: #fff;
      }
    }
  }
}

.dropdown-menu {
  --bs-dropdown-font-size: var(--body-font-size);
}

.cursor-pointer {
  cursor: pointer;
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-toggle-split {
  background-color: #54b9e4;
}

.accordion-flush {
  --bs-accordion-btn-icon: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9Ikdyb3VwIDU3NyI+CjxjaXJjbGUgaWQ9IkVsbGlwc2UgMTE1IiBjeD0iMTIiIGN5PSIxMiIgcj0iMTIiIGZpbGw9IiM1MTRFRUUiLz4KPHBhdGggaWQ9IlZlY3RvciIgZD0iTTggMTFMMTIgMTVMMTYgMTEiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjwvZz4KPC9zdmc+Cg==);

  --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);

  border: 1px solid var(--bs-border-color);
  overflow: hidden;

  .accordion-button {
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    padding: 12px 0;
    // &::before,
    // &::after{
    //     width: 15px;
    //     height: 2px;
    //     content: '';
    //     background: rgba(34, 34, 34, 1);
    //     position: absolute;
    //     border-radius: 4px;
    //     right: 0;
    // }
    // &[aria-expanded="false"]{

    //     &::after{
    //         transform: rotate(90deg);
    //     }
    // }
    // &[aria-expanded="true"]{
    //     color: #29ADE6;
    //     &::after{
    //         transform: rotate(0deg);
    //     }
    //     &::before,
    //     &::after{background: #29ADE6;}
    // }
  }
}

.marker-primary {
  li {
    &::marker {
      color: rgba(var(--bs-primary-rgb), 1);
    }
  }
}

.correctBg {
  background-color: #ecffe3;
}

.wrongBg {
  background-color: #feffcc;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.table-transparent {

  td,
  th {
    background-color: transparent !important;
  }
}

.learner_dashbord {
  .ondimand {
    color: rgba(var(--bs-danger-rgb), 1);
    background-color: rgba(var(--bs-danger-rgb), 0.1);
  }

  .live {
    color: rgba(var(--bs-primary-rgb), 1);
    background-color: rgba(var(--bs-primary-rgb), 0.1);
  }

  .top_card {
    .card {
      min-height: 120px;
    }
  }

  .ongoing_course {
    .card-img {
      max-width: 100px;
      height: 60px;
      object-fit: cover;
      flex-shrink: 0;
    }
  }
}

.department_img_box {
  position: relative;
  width: 75px;
  height: 40px;

  img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #fff;
    transition: all 0.15s linear;

    &:nth-child(2) {
      left: 15px;
    }

    &:nth-child(3) {
      left: 30px;
    }

    &:hover {
      z-index: 99;
    }
  }
}

@media (width >=992px) {
  .position-md-absolute {
    position: absolute;
  }
}

@media (width >=576px) {
  .mt-sm-n5 {
    margin-top: -70px;
  }
}

.pointer-events-none {
  pointer-events: none;
  user-select: none;
}

.landing_banner {
  --banner-height: 550px;
  position: relative;
  background-color: #5a69f4;
  height: var(--banner-height);

  @media (width >=1400px) {
    --banner-height: 600px;
  }

  .banner_heading {
    font-size: clamp(2rem, 0.9821rem + 2.8571vw, 3rem);
  }

  .banner_sub_heading {
    font-size: clamp(1.125rem, 0.9464rem + 0.5714vw, 1.375rem);
  }

  .banner_img {
    height: 550px;
  }

  .card_left,
  .card_right {
    max-width: 220px;
    min-height: 130px;
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
  }

  .card_left {
    left: 30px;

    .comment_arrow_sign {
      position: absolute;
      bottom: -90%;
      left: 50%;
    }
  }

  .card_right {
    right: 30px;

    .comment_arrow_sign {
      position: absolute;
      top: -36%;
      left: -60%;
    }
  }

  .btn-next,
  .btn-prev {
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .25s linear;

    &:hover {
      background-color: rgba(0, 0, 0, .8);
    }

    @media(width >=768px) {
      top: 32%;
    }
  }

  .btn-prev {
    left: 30px;
  }

  .btn-next {
    right: 30px;
  }
}

.sec_banner_top {
  display: grid;
  place-content: center;
  height: 280px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0 0 0 / 50%);
  }

  .title {
    font-size: clamp(2rem, 0.9821rem + 2.8571vw, 2.5rem);
    font-weight: 800;
    color: #fff;
    z-index: 1;
    line-height: 1.3;
  }
}

.logo_showcase {
  .logo {
    height: 32px;
    object-fit: contain;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.section_heading {
  font-size: clamp(1.5rem, 0.9821rem + 2.8571vw, 2rem);
  font-weight: 700;
  line-height: 1.3;
}

.feature_section {
  .service_img {
    aspect-ratio: 2/3;
    object-fit: cover;

    @media (width >=992px) {
      aspect-ratio: 2/2.6;
    }

    @media (width >=1300px) {
      aspect-ratio: 2/2.25;
    }
  }
}

.steper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 4px;
    border-left: 2px dashed var(--bs-border-color);
  }

  .card {
    position: relative;
    margin-left: 8px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -11px;
      width: 16px;
      height: 16px;
      background-color: #e01b1b;
      border-radius: 50%;
      border: 2px solid white;
    }

    &.steper_card_2 {
      &::before {
        background-color: #1b23e0;
      }
    }

    &.steper_card_3 {
      &::before {
        background-color: #dc1be0;
      }
    }
  }

  @media (width >=992px) {

    // steper selector
    &::before {
      height: auto;
      width: 69%;
      left: 50%;
      transform: translateX(-50%);
      top: -5px;
      border-top: 2px dashed var(--bs-border-color);
    }

    // steper card selector
    .card {
      margin-left: 0;
      text-align: center;

      &::before {
        top: -12px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

// our_client 
.our_client {
  position: relative;

  .our_client_card_wrapper {
    &.row {
      &.gy-5 {
        --bs-gutter-y: 5rem;
      }
    }

    .custom_col {
      @media (max-width:575px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      .card:not(:last-child) {
        margin-bottom: 3rem;
      }
    }

    .card {
      position: relative;
      border-radius: 3px;
      // box-shadow: 3px 0px 75px 3px #0000001A;
      height: 100%;

      @media(min-width:576px) {
        margin-left: 16px;
      }

      .rectangle {
        position: absolute;
        top: -10px;
        right: -10px;
      }

      .card-img {
        max-width: 78px;
        position: relative;
        flex-shrink: 0;

        .client_img {
          width: 100%;
          height: 78px;
          object-fit: cover;
          // aspect-ratio: 1;
          position: absolute;
          left: -12px;
          top: -32px;
          border-radius: 4px;
        }

        .quote {
          position: absolute;
          right: 16px;
          bottom: -16px;
          max-width: 100%;
          height: auto;

        }
      }

      .card-body {
        border-radius: 3px;

        .desc {
          @media (max-width:575px) {
            overflow: hidden;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
          }
        }
      }
    }
  }
}

body:has(:is(.list__testimonials)){
  background-color: rgba(var(--bs-light-rgb), 1) !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #d8d8d8;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #b5b5b5;

  &:hover {
      background-color: #9b9b9b;
  }
}