<div class="container-md">
    <div class="text-center mb-5 mx-auto" style="max-width: 540px;">
        <h6 class="fs-6 fw-bold mb-1 text-uppercase text-primary">{{testimonialDetail?.heading}}</h6>
        <h3 class="section_heading mb-2">{{ testimonialDetail?.description }}</h3>
    </div>
    <div class="text-end ">
        <button routerLink="/testimonial-page" class="btn link-primary fst-italic p-0">
            view more
        </button>
    </div>
    <div *ngIf="testimonialDetail?.testimonials && testimonialDetail?.testimonials.length > 0">
        <div class="row our_client_card_wrapper gy-5 mx-0" style="width: 100%;">
        <div class="col-12 px-0">
            <owl-carousel-o [options]="customOptions">
                <ng-template *ngFor="let testimonial of testimonialDetail?.testimonials" carouselSlide> 
                    <div class="col-12 custom_col" >
                        <!-- testimonials card -->
                        <div class="card flex-row border-0 gap-2">
                            <div class="rectangle">
                                <svg width="82" height="82" viewBox="0 0 82 82" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.17021 5.12965C-0.73116 3.2432 0.604745 0 3.28316 0H79C80.6569 0 82 1.34315 82 3V78.7168C82 81.3952 78.7568 82.7312 76.8703 80.8298L39.1693 42.8307L1.17021 5.12965Z" fill="#0D75D5" />
                                </svg>
                            </div>
                            <div class="card-img">
                                <img src="../../../../assets/img/Rectangle 2239.png" alt="" class="img-fluid client_img shadow-sm">
                                <svg class="quote" width="76" height="54" viewBox="0 0 76 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.1" d="M24.376 53.4229H0.595429L22.9771 0.499425H38.1314L24.376 53.4229ZM62.1451 53.4229H38.3646L60.7463 0.499425H75.9006L62.1451 53.4229Z" fill="black" />
                                </svg>
                            </div>
                            <div class="card-body bg-white z-3 ps-0">
                                <h6 class="card-title mb-1 fw-bold">{{ testimonial?.posted_by }}</h6>
                                <p class="mb-2 mb-lg-2 fw-semibold small">{{ testimonial?.designation }}</p>
                                <p class="mb-0 desc">{{(isReadMore) ? testimonial?.feedback : testimonial?.feedback?.slice(0, 50) }} <br> <button  (click)="openModal(testimonial)" class="btn btn-sm link-primary fst-italic p-0 mt-auto ">Read More</button></p>
                            </div>
                        </div>
                        <!-- End of testimonials card -->
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    </div>
    <div *ngIf="!testimonialDetail?.testimonials || testimonialDetail?.testimonials.length === 0">
        <p class="text-center">No testimonials available.</p>
    </div>
</div>
