.our_client_card_wrapper {
    overflow-x: hidden; // Ensure that items are not overflowing horizontally
}

.owl-carousel {
    .owl-stage {
        display: flex;
        align-items: stretch;
    }

    .owl-item {
        width: auto; // Ensure each item takes the width of its content
    }
}

.our_client_card_wrapper .card{
    margin: 40px 16px 20px 16px !important;
    min-height: 180px;
    .card-body{
        display: flex;
        flex-direction: column;
    }
}