.our_client_card_wrapper {
  overflow-x: hidden;
}

.owl-carousel .owl-stage {
  display: flex;
  align-items: stretch;
}
.owl-carousel .owl-item {
  width: auto;
}

.our_client_card_wrapper .card {
  margin: 40px 16px 20px 16px !important;
  min-height: 180px;
}
.our_client_card_wrapper .card .card-body {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=landing-page-testimonials.component.css.map */