<section class="py-5">
    <div class="container">
      <h5 class="fs-3 mb-0 fw-bold text-center">Contact Us</h5>
      <p class="mb-0 text-center">for any kind of assistance</p>
      <div class="card p-3 mt-4">
        <div class="row gy-3">
          <div class="col-12 col-md-4 col-lg-3 text-center align-self-center">
            <div
              class="d-grid rounded-circle mb-2 align-items-center justify-content-center bg-primary bg-opacity-10 mx-auto p-4 shadow-sm"
              style="width: 100px; height: 100px"
            >
              <img src="assets\img\email(1) 1.png" class="img-fluid mt-1" alt="" />
            </div>
            <small>Support mail</small>
            <p class="mb-0">Support@edaiva.com</p>
            <hr class="d-md-none my-3">
          </div>
          <div class="col-12 col-md-8 col-lg-9 border-md-start ps-md-4">
            <form (ngSubmit)="onSubmit()" [formGroup]="form" class="row g-3">
              <div class="col-12 col-sm-6">
                <div  class="mb-0 form-group">
                  <label for="">Name</label>
                  <input formControlName="name" type="text" class="form-control" placeholder="Name">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="mb-0 form-group">
                  <label for="">Email</label>
                  <input formControlName="email" type="email" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="mb-0 form-group">
                  <label for="">City</label>
                  <input formControlName="city" type="text" class="form-control" placeholder="City">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="mb-0 form-group">
                  <label for="">Phone no.</label>
                  <input formControlName="phone" type="number" class="form-control" placeholder="Phone number">
                </div>
              </div>
              <div class="col-12">
                <div class="mb-0 form-group">
                  <label for="">Message</label>
                  <textarea formControlName="message" name="" class="form-control" id="" cols="30" rows="3" placeholder="Write here"></textarea>
                </div>
              </div>
              <div class="col-12 text-end">
                <button type="submit" class="btn btn-primary px-3">Send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </section>